//all
$cornField: #f8f7c8;

// _index.scss
$zeus:  #3f3f3e;
$dimGray: #696868;
$milan: #f7f598;
$eclipse: #3a3939;

// _content.scss
$charcoal: #464444;
$gainsboro: #e0e0e0d8;
$maroon: #650300;
$freeSpeechRed: #AA0601;
$white: #fff;
$black: #000;
$yellow: #faf606;
$hintOfYellow: #f5f4d47e;