footer.footer
    .container
        ul.f-link.d-flex.jc-sb.ai-c
            li
                ul.menu.d-flex
                    li
                        a(href='#') HOME
                    li
                        a(href='#') 甜點系列
                    li
                        a(href='#') 門市據點
                    li
                        a(href='#') 部落格
                    li
                        a(href='#') 常見問題
            li
                ul.follow.d-flex
                    li
                        a(href='#')
                            i.fab.fa-facebook.fa-2x
                    li
                        a(href='#')
                            i.fab.fa-instagram.fa-2x
                    li
                        a(href='#')
                            i.fab.fa-line.fa-2x
        .info.text-white
            ul.phone.d-flex.ai-c
                li
                    i.fas.fa-phone-alt.fa-2x
                li
                    | 0800-000-000
            ul.mail.d-flex.ai-c
                li
                    i.far.fa-envelope.fa-2x
                li
                    | glasses@business.com
        hr
        ul.d-flex.jc-sb.ai-c
            li.copyRight.d-flex.ai-c
                img(src='https://i.postimg.cc/vBNSDckj/cake-logo.png' alt='')
                p.text-white Copyright © 2020 Glasses.All rights reserved.
            li.privacy.d-flex
                a(href='#') 隱私權政策
                a(href='#') 服務條款