meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel="Shortcut Icon" type="image/x-icon" href="https://i.postimg.cc/vBNSDckj/cake-logo.png")
title 幸福甜點
link(rel="stylesheet", href="stylesheet/all.css")
script(src="javascripts/vendors.js")
script(src="javascripts/all.js")