header.header.d-flex.j-sb.ai-c
    a.showmenu(href='#') 
        i.fas.fa-bars.fa-2x
    a(href='#')
        img(src='https://i.postimg.cc/vBNSDckj/cake-logo.png', alt='logo')
    ul.menu.d-flex
        li
            a(href='#') 甜點系列
        li
            a(href='#') 門市據點
        li
            a(href='#') 部落格
        li
            a(href='#') 常見問題