<!DOCTYPE html>
html(lang="en")
    head
       include partials/head.jade
        
    body
      .wrap
        block navbar
        //- include partials/navbar.jade
        block content
        include partials/footer.jade
        
        
        